<nav class="navbar bg-dark">
    <h1>EAT DA BURGER</h1>
</nav>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <ul>
                {{#each burgers}}
                {{#unless devoured}}
                <span><strong> {{this.id}} = {{this.burger_name}} </strong></span>
                <button type="button" class="eatburger" id="eatBtn" data-id="{{this.id}}"
                    data-newDevoured="{{devour}}">DEVOUR</button>
                <br>
                {{/unless}}
                {{/each}}
            </ul>
        </div>    
        <div class="col">
            <ul>
                {{#each burgers}}
                {{#if devoured}}
                <span><strong>{{this.id}} = {{this.burger_name}}</strong></span>
                <button type="button" class="delete" id="deleteBtn" data-id="{{this.id}}">DELETE</button> 
                {{/if}}
                {{/each}}
            </ul>
        </div>

        
    </div>
</div>